/** Basic Template CSS */

#basic-content {
  margin: 3.5em auto;
}

#primary {
  &.basic-template-wrap {

    #scrollto-icon-basic-template {
      top: 20%;
      margin-top: 1em;
    }

    .bascic-template-header {
      height: 600px;
      height: clamp(600px, 50vh, 600px);
    }

    .template-header-content {
      margin-top: clamp( 15px, 5%, 0px);
    }
  }
}

#basic-template-hero-image {
  img.basic-temp-hero {
    width: 100%;
  }
}

.basic-template-inner {
  .landing-hd {
    .dd-1 {
      img {
        width: clamp(200px, 40vh, 270px);
      }
    }
  }
}

dl.hero-logo-info.landing-hd {
  margin-bottom: 0;
  margin-top: 1.2em;
}
