/** Constant Contact for Gravity Forms */

#digital-pulication-sign-up {
  .ctct-form-embed.form_1 .ctct-form-defaults {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .ctct-form-custom {
    display: initial;
    h2 {
      font-size: 1rem;
    }
  }
  .col-sign-up-catalog {
    display: flex;
    height: 400px;
    justify-content: center;
    width: 80%;
    margin: 3em auto;
  }
  .col-sign-up-form {
    width: 400px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 20%;
    right: 20%;
  }
}

#constant-contact-container {
  .row {
    .col-md-11 {
      .gform_confirmation_wrapper {
        .gform_confirmation_message {
          h2 {
            color: #fff;
          }
        }
      }
    }
  }
}

#pop-over-fp {
  &.form-group {
    margin-top: 20px;
  }
}

@media (min-width: 1681px) {
  #pop-over-fp {
    &.no-spam-signup {
      margin-top: 8px;
    }
  }
}