/* SCSS Forms
------------------------- */
#gform_confirmation_message_15 {
  border: .5px #fff solid;
  padding: 1em 0;
  margin: 3.5em auto;
  h2 {
    color: #f5f5f5;
    font-size: 1.3em;
    margin: 0;
  }
}
#fp-well {
  h2.ctct-form-header {
    color: #f5f5f5;
  }
  .esb-signup-cta {
    padding: 3em 0 0 0;
  }
  #esb-report-email-sign-up {
    margin-bottom: 4em;
    .ctct-form-container.ctct-form-embed.form_1 {
      width: 100%;

      .ctct-form-defaults {
        border: .5px #fff solid;
        width: 53%;

        #ctct_form_1 {
          display: initial;
          min-width: 100%;
        }
      }
    }
  }
}

#pop-over-fp {
  .glyphicon.glyphicon-question-sign.gi-2x {
    color: $tfsred
  }
}

.row.front-page-email-signup {
  align-items: center;
  .ctct-form-defaults {
    width: 100%;
    form.ctct-form-custom {
      width: 100%;
    }
  }
}

.ctct-gdpr-text {
  display: none;
}

.ctct-form-defaults {
  display: inline-flex;
  form.ctct-form-custom {
    display: flex;
    align-items: center;
    #email_address_field_0 {
      flex-basis: 48%;
      margin-right: 0.5em !important;
    }
    button.ctct-form-button {
      flex-basis: 48%;
      height: 46px;
    }
  }
}

div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
  border-radius: 0 !important;
  border: 1px solid $white !important;
  box-shadow: none !important;
}

div.ctct-form-embed form.ctct-form-custom button.ctct-form-button {
  border-radius: 0 !important;
  padding: 0 !important;
}

div.ctct-form-embed div.ctct-form-defaults {
  padding: 0;
}

div.ctct-form-embed form.ctct-form-custom label.ctct-form-label {
  margin-bottom: 10px !important;
}
