/** SCSS Global Properties
=========================== */
body {
  overflow: hidden;
}

.display-items-inline {
  display: flex;
  align-items: center;
  align-content: center;

}

.max-width-lg {
  max-width: 1700px;
}

#scrollto {
  color: $white;
}

.btn-dark {
  background-color: $tfs_dark;
  border: $tfs_dark;
  color: $lightgrey;
  &:hover {
    color: $lightgrey;
  }
  &:focus {
    color:$lightgrey;
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.btn {
  &:active {
    outline: none !important;
  }
  &:focus {
    outline: none !important;
  }
}

.post-nav {
  display: flex;
  align-content: center;
}
.nav-next a:hover,
.nav-previous a:hover {
  text-decoration: none;
}

.tfs-content-video {
  .container {
    .row {
      video {
        margin-bottom: 1.618em;
      }
    }
  }
}

#vid {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
}

.link-color-tfs-red {
  color: #a01624;
  &:hover {
    text-decoration: none;
  }
  a {

    color: #a01624;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

a:hover {
  text-decoration: none;
}

@media (max-width: 575.99px) {
  #travel-style h1,
  #travel-style h2,
  #travel-style h3,
  #travel-style h4,
  #travel-style h5,
  #travel-style h6 {
    line-height: 2.8rem !important;
    }
}
