/** Guest Data App */

.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.gda-filter-wrapper {
  margin: 1.618em auto;
}

.gda-search-wrapper {
  margin: 1.618em auto;
}