/** Hero Template
======================= */

.fades {
  transition: opacity 1.2s ease-in;
}
@media (max-height: 321px) {
  .fades {
    opacity: 1 !important;
  }
}

.fadeOut { opacity: 0; }
.fadeIn { opacity: 1; }

#hero-template-cont {
  background-color: #f5f5f5;
  padding-top: 3.618em;
  position: relative;
  z-index: 900;
}

/** Hero Video **/
.hero-template-content {
  margin: 2.618em auto 2.618em auto;
}
#heroheader {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  h1 {
    color: $white;
    margin-bottom: 0.4em;
  }
}

#heroheader video,
#heroheader img.hero-temp-img {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#heroheader .container {
  position: relative;
  z-index: 2;
}

#heroheader .overlay,
#outfitters-jumbotron .overlay,
#basic-template-hero-image .overlay,
#blog-template-basic-hero-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  /*opacity: 0.123;*/
  z-index: 1;
}

/* @media (pointer: coarse) and (hover: none) {

  #heroheader {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  #heroheader video {
    display: none;
  }
} */
