/* Outfitter Blog SCSS
---------------------------------------------- */
.wrapper-blog {
  margin-top: 3.618em;
}

#outfitters-jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  .container.template-outfitters {
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: 1;
  }
}
