/** SCSS Search Results
------------------------------------------- */
.results {
  color: $tfsred;
}
.customize-partial-edit-shortcut.customize-partial-edit-shortcut-search_header_img {
  top: 73px;
  left: 49px;
}
.search-results-target {
  article:nth-of-type(odd) {
    background-color: #eee;
  }
  /*article::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    border-bottom: 1px solid #000000;
    z-index: 999;
  }*/
  article {
    margin-bottom: 3em;
    .entry-header {
      padding: 1em 1em 0 1em;
    }
    .entry-summary,
    .entry-footer {
      padding: 0 1em 1em 1em;
    }
  }
}

#search-results-header {
  /* Added in customizer background-image: url('https://tfs-spaces.sfo2.digitaloceanspaces.com/theflyshop/uploads/2022/04/MothersDay2022_Main.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto -15px;
  min-height: 360px;

  &:before {
    background-color: rgba(0,0,0,0.3);
    content: '';
    height: 360px;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  h1 {
    text-align: center;
    color: $white;
    font-size: clamp(27px, 4vw, 48px);
  }

  .page-header {
    padding-top: 7em;
    position: relative;
    z-index: 2;
  }
}
.ubermenu-search {
  input[type="text"]:focus {
    box-shadow: 0 0 0 2px $tfsred;
  }
}
.archivetemplate {
  #search-container-row {
    margin-top: 5.618em;
  }
  #main > header:before {
    background: none;
  }
}
.content-area.search-results-cont {
  padding: $m1618;
}
.page-header.search-results-cont {
  h1 {
    font-size: 2rem;
  }
}
.search-logo-wrap {
  background-color: $lightgrey;
  padding: $m1618;
  margin-bottom: $m2618;
}

#custom-pagination {
  ul {
    display: flex;
    justify-content: center;
  }
  .navigation li a,
  .navigation li a:hover,
  .navigation li.active a,
  .navigation li.disabled {
    color: #fff;
    text-decoration: none;
  }

  .navigation li {
    display: inline;
  }

  .navigation li a,
  .navigation li a:hover,
  .navigation li.active a,
  .navigation li.disabled {
    background-color: $tfsred;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
  }

  .navigation li a:hover,
  .navigation li.active a {
    background-color: $tfsredhover;
  }
}

#search-bar-search-page {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  z-index: 2;
  form {
    display: flex;
    justify-content: space-evenly;
    .search-submit {
      border-radius: 0;
      height: 50px;
      line-height: initial;
    }
    .search-submit:active,
    .search-submit:hover {
      background-color: $tfsredhover;
    }
    label {
      width: 74%;
      input {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
      }
      .search-field {
        border: 1px solid $grey;
        height: 50px;
      }
      .search-field:focus-visible {
        outline: none;
      }
    }
  }
}

/** max width */
@media (max-width: 1399.98px) { }

@media (max-width: 1199.98px) { }

@media (max-width: 991.98px) {
  #search-bar-search-page {
    form {
      display: initial;
      justify-content: initial;
      label {
        margin: 0 auto 1em auto;
      }
      .search-submit {
        display: block;
        margin: 0 auto;
        width: 75%;
      }
    }
  }
}

@media (max-width: 767.98px) { }

@media (max-width: 575.98px) { }


/** min width */
@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }



