/* Sidebars
----------------------------------- */
.archive-sidebar {
  padding-bottom: 1.618em;
}
#outfitter-sidebar {
  margin-top: 1.5em;
  img {
    margin: 0 auto;
    display: block;
  }
}

#secondary {
  img {
    margin: 0 auto;
    display: block;
  }
}

#lower48-sidebar {
  margin-top: 1.5em;
  img {
    margin: 0 auto;
    display: block;
  }
}

#secondary {
  h2.widget-title {
    color: #2e3842;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  h4.date {
    font-size: 1rem;
  }
}
