/** Travel Form Posts */

#filter-cont {
  &.filter-wrap {
    form {
      label {
        margin: 0 .5em 0 0;
      }
      input {
        margin-bottom: 1em;
      }
      .btn {
        border: none;
        margin-left: 1em;
      }
    }
  }
}

#travel-form-posts {
  margin-top: 8em !important;
  .destination-form {
    background-color: #eee;
    margin-top: 3.618em;
    margin-bottom: 3.618em;
    padding: 1.618em;
  }
  .form-entry {
    margin: .5em auto;
    b {
      margin-right: .618em;
    }
    .name-g {
      margin-right: .618em;
    }
  }
}

#question-items {
  &.display-items-inline {
    margin-bottom: 1.618em;

    label {
      height: 24px;
      line-height: 20px;
      margin: 0 .5em 0 0;
    }

    input.no-margin {
      margin: 0 1em 0 0;
      height: 20px;
      width: 20px;
    }
  }
}


.table-wrapper {
  display: flex;
  margin: 0 auto;
  overflow: auto;
  border-collapse: collapse;
}

.table-scrollable {
  overflow: auto;
  max-height: 400px; /* Adjust as necessary */
  max-width: 100%;  /* Adjust as necessary */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;  /* Prevent auto wrap */
}

.fixed-column {
  position: sticky;
  left: 0;
  background: #f1f1f1;
  z-index: 1;
  /* Optional: provide an addition background to the fixed column */
}

/* Ensuring that the header is also fixed */
thead th.fixed-column {
  z-index: 2;
}

