/** Travel Questionnaire */

.btn-passport-preview {
  position: relative;
  padding: 0;
  border: none;
  background: none;
}
.overlay-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
}
.btn-passport-preview {
  padding: 0;
  width: 100%;
}
.passport-copy-preview {
  width: 100%;
  object-fit: cover;
  height: 50px;
}

#travel-form-questionnaire {
  margin-top: 8em;
  margin-bottom: 4em;
  .container {
    background-color: #eee;
    padding: 1.618em;
  }
}

.collapse .form-entry:nth-child(odd) {
  background-color: rgba(169, 169, 169, 0.5) !important; /* Light gray with 50% transparency */
  margin: .5em 0 !important;
  padding: 1em !important;
}

.collapse .form-entry:nth-child(even) {
  background-color: rgba(211, 211, 211, 0.5) !important; /* Lighter gray with 50% transparency */
  padding: 1em !important;
}
